<% include header %>
    <div class="row">
        <div class="col-md-6 mt-2 text-center">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Usuario</th>
                    <th>Contrasena</th>
                </tr>
                <% for (var i = 0; i < users.length; i ++) { %>
                    <tr>
                        <td>
                            <%= users[i].id %>
                        </td>
                        <td>
                            <%= users[i].first_name %>
                        </td>
                        <td>
                            <%= users[i].last_name %>
                        </td>
                        <td>
                            <%= users[i].user_name %>
                        </td>
                        <td>
                            <%= users[i].password %>
                        </td>
                    
                    
                    </tr>

                    <% } %>
            </table>
        </div>

        <div class="col-md-6 mt-6 card">
            <form class="card-body" action="/users/signup" method="post">
                <h3 class="card-title">Agregar Usuario</h3>
                <div class="form-group">
                    <input name="title" type="text" class="form-control" placeholder="Primer Nombre">
                </div>
                <div class="form-group">
                    <input name="news" type="text" class="form-control" placeholder="Apellido">
                </div>
                <div class="form-group">
                    <input name="news" type="text" class="form-control" placeholder="Usuario">
                </div>
                <div class="form-group">
                    <input name="news" type="text" class="form-control" placeholder="contrasena">
                </div>
                <input type="submit" class="btn btn-primary">
            </form>
        </div>



    </div>
    <% include footer %>